spring:

  application:
    name: ${APPLICATION_NAME:public}

  datasource:
    url: ${DB_URL:jdbc:postgresql://localhost:5432/transaction_service?currentSchema=${spring.application.name}}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}

logging:
  file:
    name: transaction-service.log
